<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TapMenuContext" connectionString="Data Source=tcp:y2a5ue8lgb.database.windows.net,1433;Initial Catalog=bancoAll;Persist Security Info=True;User ID=tapmenuadmin@y2a5ue8lgb;Password=M!s1568912;MultipleActiveResultSets=True;Encrypt=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>